<!DOCTYPE html>
<html>
    <head>
        <title>New User Sign Up</title>
    </head>
<body>
    <form action="/signup" method='post'>
        <label for="user-name">Username:</label>
            <input type="text" name="user_name" />
        </form>
        <br>
        <form action="/signup" method='post'>
        <label for="user-pw">Password:</label>
            <input type="password" name="user_pw" />
        </form>
        <br>
        <form action="/signup" method='post'>
        <label for="verify-pw">Password:</label>
            <input type="password" name="verify_pw" />
        </form>
        <br>
        <form action="/signup" method='post'>
        <label for="user-emai">Email(optional):</label>
            <input type="text" name="user_email" />
            <input type="Submit" />
        </form>
</body>
</html>